/* stylelint-disable */
.s-title {
  font-size: rem(26);
  line-height: 135%;
  font-weight: 800;
  margin-bottom: rem(24);
  @media all and (min-width: 768px) {
    font-size: rem(34);
  }
  @media screen and (min-width: 1600px) {
    font-size: rem(42);
  }
}
.container__box {
  @media all and (min-width: 1140px) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.container__aside {
  @media all and (min-width: 1140px) {
    width: 38%;
  }
  @media screen and (min-width: 1600px) {
    width: 32%;
  }
}

.container__main {
  @media all and (min-width: 1140px) {
    width: 62%;
    padding-right: rem(30);
  }
  @media screen and (min-width: 1600px) {
    width: 68%;
    max-width: rem(1000);
  }
}
/* stylelint-enable */
