/* stylelint-disable */
.s-title {
  font-size: rem(28);
  line-height: 135%;
  font-weight: 800;
  margin-bottom: rem(24);
  @media all and (min-width: 768px) {
    font-size: rem(36);
  }
  @media screen and (min-width: 1140px) {
    font-size: rem(46);
  }
  @media screen and (min-width: 1600px) {
    font-size: rem(52);
  }
}

.s-main-title {
  font-size: rem(40);
  font-weight: 800;
  line-height: 120%;
  @media all and (min-width: 576px) {
    font-size: rem(64);
  }
  @media all and (min-width: 768px) {
    font-size: rem(72);
  }
  @media all and (min-width: 992px) {
    font-size: rem(84);
  }
  @media screen and (min-width: 1600px) {
    font-size: rem(92);
  }
}

.container__box {
  @media all and (min-width: 1140px) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.container__aside {
  @media all and (min-width: 1140px) {
    width: 38%;
  }
  @media screen and (min-width: 1600px) {
    width: 32%;
  }
}

.container__main {
  @media all and (min-width: 1140px) {
    width: 62%;
    padding-right: rem(30);
  }
  @media screen and (min-width: 1600px) {
    width: 68%;
    max-width: rem(1000);
  }
}
.color-blue {
  color: var(--color-blue);
}
.color-yellow {
  color: var(--color-yellow);
}
/* stylelint-enable */
