/* stylelint-disable */
:root {
  --color-main: #fff;
  --color-second: #272727;
  --color-test: #eee;
  --color-test1: #6c6c6c;
  .dark-themes {
    --color-main: #272727;
    --color-second: #fff;
    --color-test: #747474;
    --color-test1: #424242;
  }
}
/* stylelint-enable */
