.a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: rem(40);
  background: var(--color-second);
  border: none;
  border-radius: var(--border-radius-x1);
  outline: none;
  text-align: center;
  &:hover {
    cursor: pointer;
  }

  &__label {
    color: var(--color-main);
    font-size: rem(14);
    font-weight: 600;
    text-transform: uppercase;
  }

  &--accent {
    background: var(--color-second);
  }

  &--disabled {
    opacity: .4;
    pointer-events: none;
  }
}
