.m-menu {
  display: flex;
  flex-direction: column;

  &__link {
    margin: rem(10) 0;
    font-size: rem(16);
    font-weight: 500;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
}
