.m-menu {
  display: flex;
  flex-direction: column;

  &__link {
    @include _576 {
      color: var(--color-main);
    }
    @include _768 {
      font-size: rem(18);
      transform: none;
      writing-mode: initial;
      &:hover{
        &:before{
          width: 100%;
        }
      }
    }
    position: relative;
    margin: rem(10) 0;
    color: var(--color-second);
    font-size: rem(16);
    font-weight: 600;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    &:before{
      content: '';
      position: absolute;
      bottom: rem(-2);
      left: 0;
      width: 0;
      height: rem(2);
      background: var(--color-main);
      transition: .3s;
    }
  }
}
