.m-menu {
  display: flex;
  flex-direction: column;

  &__link {
    @include _768 {
      font-size: rem(18);
      transform: none;
      writing-mode: initial;
    }

    margin: rem(10) 0;
    color: var(--color-main);
    font-size: rem(16);
    font-weight: 600;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
}
