.s-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: rem(40);
  padding: var(--a-padding-x6) 0;
  background: var(--color-main);

  &__logo {
    font-size: rem(22);
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }

  &__logic {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    color: var(--color-second);
    background: transparent;
    border: none;
    outline: none;
    font-size: rem(16);
    font-weight: 600;
    cursor: pointer;

    &-image {
      path,
      rect {
        fill: var(--color-second);
      }
    }
  }
}
