/* stylelint-disable */
.s-skills {
  margin: var(--a-padding-x12) 0;

  &__block {
    margin-top: rem(24);
    padding: var(--a-padding-x6);
    background: var(--color-main);
    border-radius: var(--border-radius-x2);
    @include _1140 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(16);
      background: transparent;
      border-radius: inherit;
      padding: 0;
    }
  }

  &__description {
    @include _1140 {
      font-size: rem(18);
    }
  }
  &__item {
    color: var(--color-second);
    @include _1140 {
      background: var(--color-main);
      border-radius: var(--border-radius-x2);
      padding: var(--a-padding-x6);
    }
    &:not(:last-child) {
      margin-bottom: rem(36);
      @include _1140 {
        margin: 0;
      }
    }
    &-title {
      font-size: rem(18);
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: rem(16);
    }
    &-grade {
      position: relative;
      width: 100%;
      height: rem(18);
      border-radius: var(--border-radius-x1);
      background: var(--color-body);
      margin-bottom: rem(16);
      &-line {
        position: absolute;
        height: rem(18);
        border-radius: var(--border-radius-x1);
        position: absolute;
        left: rem(0);
        top: rem(0);
        z-index: 1;
        &._color-1 {
          background: var(--color-swiper-active);
        }
        &._color-2 {
          background: var(--color-swiper);
        }
        &._color-3 {
          background: var(--color-swiper-yellow);
        }
      }
      &-number {
        position: absolute;
        top: rem(1);
        left: rem(1);
        z-index: 3;
        font-size: rem(14);
        font-weight: 600;
        text-align: right;
        color: var(--color-white);
        padding-right: rem(8);
      }
    }
    &-info {
      @include _1140 {
        font-size: rem(18);
        line-height: 125%;
      }
    }
    &-points {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(16);
    }
    &-point {
      background: var(--color-grey);
      font-size: rem(14);
      font-weight: 600;
      border-radius: var(--border-radius-x1);
      padding: rem(6) rem(10);
      margin: 0 rem(4) rem(4) 0;
    }
  }
}
/* stylelint-enable */
