.s-work {
  color: var(--color-second);
  margin-top: rem(48);

  &__box {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(32);
  }

  &__item {
    &-title {
      font-size: rem(18);
      font-weight: 600;
      margin-bottom: rem(8);
      @include _768 {
        font-size: rem(20);
      }
    }

    &-company {
      color: var(--color-blue);
      font-size: rem(14);
      font-weight: 500;
      @include _768 {
        font-size: rem(16);
      }
    }

    &-date {
      font-size: rem(14);
      font-weight: 400;
      @include _768 {
        font-size: rem(16);
      }
    }

    &-top {
      margin-bottom: rem(8);
      @include _768 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    &-block {
      margin-top: rem(8);
    }

    &-subtitle {
      font-size: rem(16);
      font-weight: 500;
      margin-bottom: rem(8);
      @include _768 {
        font-size: rem(18);
      }
    }

    &-dutie {
      position: relative;
      font-size: rem(14);
      font-weight: 400;
      padding-left: var(--a-padding-x4);
      margin-bottom: rem(8);

      &::before {
        content: '';
        width: rem(6);
        height: rem(6);
        background: var(--color-second);
        position: absolute;
        top: rem(6);
        left: rem(0);
        transform: rotate(45deg);
      }
      @include _768 {
        font-size: rem(16);
        padding-left: var(--a-padding-x6);

        &::before {
          width: rem(6);
          height: rem(6);
          top: rem(7);
          left: rem(2);
        }
      }
    }

    &-stack {
      display: inline-block;
      font-size: rem(14);
      line-height: 100%;
      font-weight: 500;
      padding: var(--a-padding-x2) var(--a-padding-x3);
      border-radius: var(--border-radius-x1);
      background: #fbfbfb;
      color: var(--color-black);
      margin: 0 rem(6) rem(6) 0;
      @include _768 {
        font-size: rem(16);
      }
    }

    &-example {
      display: inline-block;
      width: rem(60);
      height: rem(60);
      background-position: center;
      background-size: cover;
      border-radius: var(--border-radius-x1);
      margin: 0 rem(6) rem(6) 0;
    }
  }
}
